asgiref
Django>=5.2.7
django-cors-headers>=4.6.0
djangorestframework>=3.15.2
djangorestframework-simplejwt>=5.3.0
dj-database-url
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
python-decouple
whitenoise
django-filter>=23.0
Pillow>=10.0.0
gunicorn==23.0.0
reportlab==4.2.5